<section class="ftco-section ftc-no-pb ftc-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/deluxe-master/images/bg_2.jpg);">
                <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5">
                    <div class="ml-md-0">
                        <span class="subheading">Deluxe Hotel'e hoş geldiniz</span>
                        <h2 class="mb-4">Otelimize Hoş Geldiniz</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>
                        Konforun, misafirperverliğin ve kaliteli hizmetin buluştuğu adres…

                        Otelimiz, misafirlerimize ev sıcaklığını aratmayan bir konaklama deneyimi sunmak amacıyla kurulmuştur. Modern mimarisi, özenle tasarlanmış odaları ve güler yüzlü ekibimizle, seyahatlerinizin her anını özel kılmak için çalışıyoruz.
                    </p>
                    <p>
                        Misafirlerimizin ihtiyaçlarını en iyi şekilde karşılamak adına; yüksek hijyen standartları, zengin kahvaltı seçenekleri, 7/24 resepsiyon hizmeti ve ulaşım kolaylığı sağlayan merkezi konumumuz ile kusursuz bir konaklama sunmayı hedefliyoruz.
                        İş seyahatlerinizde huzurlu bir çalışma ortamı, tatillerinizde ise keyifli ve dinlendirici bir atmosfer sunan otelimizde, her detay misafir memnuniyeti düşünülerek tasarlanmıştır.
                    </p>
                    <ul class="ftco-social d-flex">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
